pandas==1.2.0
prettytable==2.0.0
tqdm==4.55.1
seaborn==0.11.1
dill==0.3.3
torchaudio==0.7.2
torchvision==0.8.2
fire==0.3.1
torch==1.7.1
torchsummary==1.5.1
matplotlib==3.3.3
librosa==0.8.0
imageio==2.9.0
shutils==0.1.0
numpy==1.19.2
scipy==1.6.0
sounddevice==0.4.1
SoundFile==0.10.3.post1
muda==0.4.1
natsort==7.1.1
Pillow==8.1.0
scikit_learn==0.24.1
